[user]
	email = contact@fellipecastro.com
	name = Fellipe Castro
[push]
	default = simple
[core]
	editor = vim
[alias]
	a = add
	cl = clone
	co = checkout
	cob = checkout -b
	ci = commit -m
	cia = commit -am
	s = status
	b = branch
	r = rebase
	f = fetch --all
	ps = push
	pl = pull
	heroku = push heroku master
